<template>
  <!-- https://bulma-collapsible.netlify.app/installation/ -->
  <div class="home">

    <span @click="mostrarTabelaMarcacao = !mostrarTabelaMarcacao">
      <span v-if="mostrarTabelaMarcacao" class="has-text-info">Marcação</span>
      <span v-else class="has-text-grey">Marcação</span>
    </span>
    <span @click="mostrarTabelaInterrupcao = !mostrarTabelaInterrupcao">
      <span v-if="mostrarTabelaInterrupcao" class="has-text-info ml-2">Interrupção</span>
      <span v-else class="has-text-grey ml-2">Interrupção</span>
    </span>
    <span @click="mostrarTabelaCancelamento = !mostrarTabelaCancelamento">
      <span v-if="mostrarTabelaCancelamento" class="has-text-info ml-2">Cancelamento</span>
      <span v-else class="has-text-grey ml-2">Cancelamento</span>
    </span>

    <span @click="mostrarBotaoRemarcar = !mostrarBotaoRemarcar">
      <span v-if="mostrarBotaoRemarcar" class="has-text-info ml-2">RM</span>
      <span v-else class="has-text-grey ml-2">RM</span>
    </span>
    <span @click="mostrarBotaoAprovar = !mostrarBotaoAprovar">
      <i v-if="mostrarBotaoAprovar" class="fa fa-check btn-aprovar ml-2"></i>
      <i v-else class="fa fa-check has-text-grey ml-2"></i>
    </span>
    <span @click="mostrarBotaoInterromper = !mostrarBotaoInterromper">
      <i v-if="mostrarBotaoInterromper" class="fa fa-pause btn-interromper ml-2"></i>
      <i v-else class="fa fa-pause has-text-grey ml-2"></i>
    </span>
    <span @click="mostrarBotaoConfirmarInterrupcao = !mostrarBotaoConfirmarInterrupcao">
      <i v-if="mostrarBotaoConfirmarInterrupcao" class="fa fa-pause has-text-info ml-2"></i>
      <i v-else class="fa fa-pause has-text-grey ml-2"></i>
    </span>
    <span @click="mostrarBotaoCancelado = !mostrarBotaoCancelado">
      <i v-if="mostrarBotaoCancelado" class="fa fa-ban btn-cancelar ml-2"></i>
      <i v-else class="fa fa-ban has-text-grey ml-2"></i>
    </span>
    <span @click="mostrarBotaoConfirmarCancelamento = !mostrarBotaoConfirmarCancelamento">
      <i v-if="mostrarBotaoConfirmarCancelamento" class="fa fa-ban has-text-info ml-2"></i>
      <i v-else class="fa fa-ban has-text-grey ml-2"></i>
    </span>

    <h2 v-if="mostrarTabelaMarcacao" class="subtitle has-text-left">Marcação</h2>

    <table v-if="mostrarTabelaMarcacao" class="table">
      <thead>
        <tr>
          <th>Pág</th>
          <th class="has-text-left">Fluxo</th>
          <th class="has-text-right">Status</th>
          <th v-for="(grupo, idx) in grupos" :key="idx">{{ grupo }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in itemsMarcacao" :key="item.id">
          <td>{{ item.id }}</td>
          <td class="has-text-left is-size-7">{{ item.fluxo }}</td>
          <td class="has-text-right is-size-7">{{ item.status }}</td>

          <td v-for="botao in item.botoes">
            <span v-if="mostrarBotaoRemarcar">
              <span v-if="botao.remarcar" class="has-text-info">RM</span>
              <button v-else class="button is-small is-info is-outlined">RS</button>
            </span>

            <span v-if="mostrarBotaoAprovar">
              <i v-if="botao.aprovar" class="fa fa-check btn-aprovar ml-2"></i>
              <i v-else-if="botao.aprovarMarcacao" class="fa fa-check btn-aprovar-marcacao ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoInterromper">
              <i v-if="botao.interromper" class="fa fa-pause btn-interromper ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarInterrupcao">
              <i v-if="botao.confirmarInterrupcao" class="fa fa-pause has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoCancelado">
              <i v-if="botao.cancelar" class="fa fa-ban btn-cancelar ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarCancelamento">
              <i v-if="botao.confirmarCancelamento" class="fa fa-ban has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>
          </td>

        </tr>
      </tbody>
    </table>

    <h2 v-if="mostrarTabelaInterrupcao" class="subtitle has-text-left">Interrupção</h2>

    <table v-if="mostrarTabelaInterrupcao" class="table">
      <thead>
        <tr>
          <th>Pág</th>
          <th class="has-text-left">Fluxo</th>
          <th class="has-text-right">Status</th>
          <th v-for="(grupo, idx) in grupos" :key="idx">{{ grupo }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in itemsInterrupcao" :key="item.id">
          <td>{{ item.id }}</td>
          <td class="has-text-left is-size-7">{{ item.fluxo }}</td>
          <td class="has-text-right is-size-7">{{ item.status }}</td>

          <td v-for="botao in item.botoes">
            <span v-if="mostrarBotaoRemarcar">
              <span v-if="botao.remarcar" class="has-text-info">RM</span>
              <button v-else class="button is-small is-info is-outlined">RS</button>
            </span>

            <span v-if="mostrarBotaoAprovar">
              <i v-if="botao.aprovar" class="fa fa-check btn-aprovar ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoInterromper">
              <i v-if="botao.interromper" class="fa fa-pause btn-interromper ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarInterrupcao">
              <i v-if="botao.confirmarInterrupcao" class="fa fa-pause has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoCancelado">
              <i v-if="botao.cancelar" class="fa fa-ban btn-cancelar ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarCancelamento">
              <i v-if="botao.confirmarCancelamento" class="fa fa-ban has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>
          </td>

        </tr>
      </tbody>
    </table>

    <h2 v-if="mostrarTabelaCancelamento" class="subtitle has-text-left">Cancelamento</h2>

    <table v-if="mostrarTabelaCancelamento" class="table">
      <thead>
        <tr>
          <th>Pág</th>
          <th class="has-text-left">Fluxo</th>
          <th class="has-text-right">Status</th>
          <th v-for="(grupo, idx) in grupos" :key="idx">{{ grupo }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in itemsCancelamento" :key="item.id">
          <td>{{ item.id }}</td>
          <td class="has-text-left is-size-7">{{ item.fluxo }}</td>
          <td class="has-text-right is-size-7">{{ item.status }}</td>

          <td v-for="botao in item.botoes">
            <span v-if="mostrarBotaoRemarcar">
              <span v-if="botao.remarcar" class="has-text-info">RM</span>
              <button v-else class="button is-small is-info is-outlined">RS</button>
            </span>

            <span v-if="mostrarBotaoAprovar">
              <i v-if="botao.aprovar" class="fa fa-check btn-aprovar ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoInterromper">
              <i v-if="botao.interromper" class="fa fa-pause btn-interromper ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarInterrupcao">
              <i v-if="botao.confirmarInterrupcao" class="fa fa-pause has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoCancelado">
              <i v-if="botao.cancelar" class="fa fa-ban btn-cancelar ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>

            <span v-if="mostrarBotaoConfirmarCancelamento">
              <i v-if="botao.confirmarCancelamento" class="fa fa-ban has-text-info ml-2"></i>
              <span v-else class="ml-2">---</span>
            </span>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      mostrarTabelaMarcacao: true,
      mostrarTabelaInterrupcao: true,
      mostrarTabelaCancelamento: true,
      mostrarBotaoAprovar: true,
      mostrarBotaoCancelado: true,
      mostrarBotaoInterromper: true,
      mostrarBotaoRemarcar: false,
      mostrarBotaoRemarcarSaldo: true,
      mostrarBotaoConfirmarInterrupcao: true,
      mostrarBotaoConfirmarCancelamento: true,
      grupos : [
        'Servidor',
        'Chefe',
        'Operador DGP',
        'Operador DCF',
        'Supervisor DCF',
        'Supervisor Geral',
        'Secretário',
      ],
      itemsMarcacao: [
        {
          id: 2,
          fluxo: 'Servidor',
          status: 'Pendente Chefia',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 4,
          fluxo: 'Servidor',
          status: 'Pendente DCF',
          botoes: [
            {
              cancelar: true,
              remarcar: true,
            },
            {
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
            {
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
            {
              aprovar: true,
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
            {
              aprovar: true,
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
            {
              aprovar: true,
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
            {
              interromper: true,
              cancelar: true,
              remarcar: true,
            },
          ],
        },
        {
          id: 6,
          fluxo: 'Servidor',
          status: 'Marcado',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 8,
          fluxo: 'Chefia',
          status: 'Pendente Servidor',
          botoes: [
            {
              aprovarMarcacao: true,
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 10,
          fluxo: 'Chefia',
          status: 'Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 12,
          fluxo: 'Chefia',
          status: 'Marcado',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 14,
          fluxo: 'Operador DGP',
          status: 'Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 16,
          fluxo: 'Operador DGP',
          status: 'Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 18,
          fluxo: 'Operador DCF',
          status: 'Pendente Supervisor DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcar: true,
            }
          ],
        },
        {
          id: 20,
          fluxo: 'Operador DCF',
          status: 'Pendente Supervisor DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 22,
          fluxo: 'Supervisor DCF',
          status: 'Pendente Supervisor Geral',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 24,
          fluxo: 'Supervisor DCF',
          status: 'Pendente Supervisor Geral',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: '--',
          fluxo: 'Secretário',
          status: 'Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              aprovar: true,
              aprovar: true,
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: true,
              remarcarSaldo: true,
            }
          ],
        },
      ],
      itemsInterrupcao: [
        {
          id: 26,
          fluxo: 'Chefia',
          status: 'Inter. Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 28,
          fluxo: 'Operador DGP',
          status: 'Inter. Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 30,
          fluxo: 'Operador DCF',
          status: 'Inter. Pendente Supervisor DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: 32,
          fluxo: 'Supervisor DCF',
          status: 'Inter. Pendente Supervisor Geral',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              remarcarSaldo: true,
            }
          ],
        },
        {
          id: '--',
          fluxo: 'Secretário',
          status: 'Inter. Pendente DCF',
          botoes: [
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcarSaldo: true,
              confirmarInterrupcao: true,
            },
            {
              cancelar: true,
              remarcarSaldo: true,
            }
          ],
        },
      ],
      itemsCancelamento: [
        {
          id: 34,
          fluxo: 'Servidor',
          status: 'Canc. Pendente Chefia',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 36,
          fluxo: 'Servidor',
          status: 'Canc. Pendente DCF',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 38,
          fluxo: 'Chefia',
          status: 'Canc. Pendente Servidor',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: true,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 40,
          fluxo: 'Chefia',
          status: 'Canc. Pendente DCF',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 42,
          fluxo: 'Operador DGP',
          status: 'Canc. Pendente DCF',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 44,
          fluxo: 'Operador DCF',
          status: 'Canc. Pendente Supervisor DCF',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: 46,
          fluxo: 'Supervisor DCF',
          status: 'Canc. Pendente Supervisor Geral',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        },
        {
          id: '--',
          fluxo: 'Secretário Geral',
          status: 'Canc. Pendente DCF',
          botoes: [
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
              confirmarCancelamento: true,
            },
            {
              cancelar: false,
              interromper: false,
              remarcar: true,
            },
          ],
        }
      ]
    }
  }
}
</script>

<style>
  .btn-aprovar {
    color: green;
  }
  .btn-aprovar-marcacao {
    color: blue;
  }
  .btn-cancelar {
    color: red;
  }
  .btn-interromper {
    color: orange;
  }
</style>